// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #27386F;
$pink: #D44071;
$orange: #E85E1A;
$yellow: #EAD954;
$cyan: #4EADA6;
$black: #282828;
$gray: #CCCCCC;
$twitter: #55acee;
$line: #00c300;

$colors: (
  "blue": $blue,
  "orange": $orange,
  "yellow": $yellow,
  "cyan": $cyan,
  "black": $black,
  "gray": $gray,
  "twitter": $twitter,
  "line": $line
) !default;

$theme-colors: (
  "primary": $pink,
  "secondary": $gray,
  "success": $orange,
  "info": $cyan,
  "warning": $yellow,
  "danger": $pink,
  "light": $gray,
  "dark": $black,
  "twitter": $twitter,
  "line": $line
);

//  Breakpoints
$breakpoints: (
  'basic': 'screen and (max-width: 768px)',
  'kusocolla01': 'screen and (max-width: 732px)'
) !default;