.kusocolla {
    position: relative;
    max-width: 75vh;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    @include mq(kusocolla01) {
        height: 133.4vw;
      }

    .kusocolla__img-fixed {
        width: 100%;
    }
    .kusocolla__img-move {
        position: absolute;
    }
    .kusocolla__img__inner {
        position: relative;
    }

    &__face {
        position: absolute;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    //中央
    .face-01 {
        width: 45%;
        height: auto;
        top: 35%;
        left: 24%;
        transform: rotate(-25deg);
        opacity: 0.9;
        animation: face01-01 4s 1;
    }
    //背景
    .move01 {
        width: 100%;
        top: 0;
        left: 0;
    }
    //左の牛
    .move02 {
        top: 0;
        left: 0;
        animation: move01-02 2s 1;
    }
    //下の牛
    .move03 {
        left: 0;
        bottom: 0;
        animation: move01-03 2s 1;
    }
    //上の牛
    .move04 {
        top: 0;
        left: 0;
        animation: move01-04 2s 1;
    }
    //右の牛
    .move05 {
        top: 0;
        right: 0;
        animation: move01-05 2s 1;
    }
    //左の牛
    .move06 {
        top: 0;
        left: 0;
        animation: move01-06 2s 1;
    }
    //タイトル(牛の惑星)
    .move07 {
        top: 0;
        left: 0;
        width: 100%;
        animation: move01-07 3s 1;

    }

    @keyframes face01-01 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 0.9;
        }
    }
    @keyframes move01-02 {
        0% {
            top: 0;
            left: -75vh;
        }
        12% {
            top: 0;
            left: 0;
        }
        100% {
        }
    }
    @keyframes move01-03 {
        0% {
            left: 0;
            bottom: -100vh;
        }
        37% {
            left: 0;
            bottom: -100vh;
        }
        50% {
            left: 0;
            bottom: 0;
        }
        100% {
        }
    }
    @keyframes move01-04 {
        0% {
            top: -100vh;
            left: 0;
        }
        25% {
            top: -100vh;
            left: 0;
        }
        37% {
            top: 0;
            left: 0;
        }
        100% {
        }
    }
    @keyframes move01-05 {
        0% {
            top: 0;
            right: -75vh;
        }
        12% {
            top: 0;
            right: -75vh;
        }
        25% {
            top: 0;
            right: 0;
        }
        100% {
        }
    }
        @keyframes move01-06 {
        0% {
            top: 0;
            left: -75vh;
        }
        12% {
            top: 0;
            left: 0;
        }
        100% {
        }
    }
    @keyframes move01-07 {
        0% {
            top: 50%;
            left: 0;
            width: 500%;
            margin-left: -190vh;
            margin-top: -250vh;
        }
        100% {
            top: 0;
            left: 0;
            width: 100%;
            margin-left: 0;
            margin-top: 0;
        }
    }


}