.kusocolla02 {
    position: relative;
    width: 100%;
    height: 50vw;
    background: url(/images/kusocolla02/kusocolla02-01.jpg) no-repeat top;
    background-size: 100%;
    overflow: hidden;
    animation: move02-01 4s infinite step-end;

    .kusocolla02__img-fixed {
        width: 100%;
    }
    .kusocolla02__img__inner {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__heart {
        position: absolute;
        bottom: 20%;
        left: 50%;
        margin-left: -20vw;
        color: #D44071;
        font-size: 40vw;
        animation: heart 4s infinite step-end;
        z-index: 1;
    }
    &__text {
        position: absolute;
        bottom: 40%;
        left: 0;
        width: 100%;
        color: #fff;
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        z-index: 1;

    }

    &__face {
        position: absolute;

        img {
            width: 100%;
            object-fit: cover;
            border-radius: 50%;
            overflow: hidden;
        }
    }

    //一番左
    .face-01 {
        top: 72%;
        left: 4%;
        width: 12%;
        height: auto;
        opacity: 1;
        animation: face02-01 4s infinite step-end;
    }
    //左から2番目
    .face-02 {
        top: 26%;
        left: 21%;
        width: 12%;
        height: auto;
        opacity: 1;
        animation: face02-02 4s infinite step-end;
    }
    //左から3番目
    .face-03 {
        top: 6%;
        left: 65%;
        width: 12%;
        height: auto;
        opacity: 1;
        animation: face02-03 4s infinite step-end;
    }
    //左から4番目
    .face-04 {
        top: 41%;
        left: 83%;
        width: 12%;
        height: auto;
        opacity: 1;
        animation: face02-04 4s infinite step-end;
    }

    @keyframes heart {
        0% {
            bottom: 5%;
            font-size: 40vw;
            margin-left: -20vw;
        }
        12% {
            bottom: 15%;
            font-size: 30vw;
            margin-left: -15vw;
        }
        25% {
            bottom: 25%;
            font-size: 20vw;
            margin-left: -10vw;
        }
        37% {
            bottom: 15%;
            font-size: 30vw;
            margin-left: -15vw;
        }
        50% {
            bottom: 5%;
            font-size: 40vw;
            margin-left: -20vw;
        }
        62% {
            bottom: 15%;
            font-size: 30vw;
            margin-left: -15vw;
        }
        75% {
            bottom: 25%;
            font-size: 20vw;
            margin-left: -10vw;
        }
        87% {
            bottom: 15%;
            font-size: 30vw;
            margin-left: -15vw;
        }
        100% {
            bottom: 5%;
            font-size: 40vw;
            margin-left: -20vw;
        }
    }

    @keyframes move02-01 {
        0% {
            background: url(/images/kusocolla02/kusocolla02-01.jpg) no-repeat top;
            background-size: 100%;
        }
        12% {
            background: url(/images/kusocolla02/kusocolla02-02.jpg) no-repeat top;
            background-size: 100%;
        }
        25% {
            background: url(/images/kusocolla02/kusocolla02-03.jpg) no-repeat top;
            background-size: 100%;
        }
        37% {
            background: url(/images/kusocolla02/kusocolla02-04.jpg) no-repeat top;
            background-size: 100%;
        }
        50% {
            background: url(/images/kusocolla02/kusocolla02-05.jpg) no-repeat top;
            background-size: 100%;
        }
        62% {
            background: url(/images/kusocolla02/kusocolla02-06.jpg) no-repeat top;
            background-size: 100%;
        }
        75% {
            background: url(/images/kusocolla02/kusocolla02-07.jpg) no-repeat top;
            background-size: 100%;
        }
        87% {
            background: url(/images/kusocolla02/kusocolla02-08.jpg) no-repeat top;
            background-size: 100%;
        }
        100% {
            background: url(/images/kusocolla02/kusocolla02-01.jpg) no-repeat top;
            background-size: 100%;
        }
    }

    @keyframes face02-01 {
        0% {
            opacity: 0;
        }
        12% {
            top: 72%;
            left: 4%;
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        37% {
            top: 72%;
            left: 4%;
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        62% {
            opacity: 0;
        }
        75% {
            opacity: 0;
        }
        87% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes face02-02 {
        0% {
            opacity: 0;
        }
        12% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        37% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        62% {
            opacity: 0;
        }
        75% {
            top: 26%;
            left: 21%;
            opacity: 1;
        }
        87% {
            top: 26%;
            left: 21%;
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes face02-03 {
        0% {
            top: 6%;
            left: 65%;
            opacity: 1;
        }
        12% {
            opacity: 0;
        }
        25% {
            opacity: 0;
        }
        37% {
            opacity: 0;
        }
        50% {
            opacity: 0;
        }
        62% {
            opacity: 0;
        }
        75% {
            top: 6%;
            left: 65%;
            opacity: 1;
        }
        87% {
            opacity: 0;
        }
        100% {
            top: 6%;
            left: 65%;
            opacity: 1;
        }
    }
    @keyframes face02-04 {
        0% {
            opacity: 0;
        }
        12% {
            opacity: 0;
        }
        25% {
            top: 41%;
            left: 83%;
            opacity: 1;
        }
        37% {
            top: 41%;
            left: 83%;
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        62% {
            opacity: 0;
        }
        75% {
            opacity: 0;
        }
        87% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
}